<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Add New Patient</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>

  <body>
      <!--top bar-->
      <div class="topnav">
        <div class="topnav-left">
          <!--back button-->
          <a href="./adminhome.html" title="Home"><IMG class="back" SRC="{{ url_for('static', filename='images/logo.png') }}"></a>

          <!--page title-->
          <h1>Add New Patient</h1>
        </div>

        <!--right side message-->
        <div class="topnav-right">
          <!--obviously change later depending on who's signed in-->
          <!--log out-->
          <a href="/home"><img class="logout" src="../static/images/logout.png"></a>
        </div>
      </div>

    <!--NEED TO ADD VALIDATION + FORM SUBMIT POST METHOD etc.-->

    <form class="simple-form" action="" method="post" novalidate>
      {{ form.hidden_tag() }}

      <div class="simple-inputs">
          <h3>{{ form.first_name.label }}</h3>
          {{ form.first_name(size=32, class__="simple-input-box") }}
      </div>
      <div class="simple-inputs">
          <h3>{{ form.last_name.label }}</h3>
          {{ form.last_name(size=32, class__="simple-input-box") }}
      </div>
      <div class="simple-inputs">
        <h3>{{ form.age.label }}</h3>
        {{ form.age(size=32, class__="simple-input-box") }}
      </div>
      <div class="simple-inputs">
        <h3>{{ form.sex.label }}</h3>
        {{ form.sex(size=32, class__="simple-input-box") }}
      </div>
      <div class="simple-inputs">
        <h3>{{ form.condition.label }}</h3>
        {{ form.condition(size=32, class__="simple-input-box") }}
      </div>
      <div class="simple-inputs">
        <h3>{{ form.affected_hand.label }}</h3>
        {{ form.affected_hand(size=32, class__="simple-input-box") }}
      </div>
      <div class="simple-inputs">
        <h3>{{ form.dominant_hand.label }}</h3>
        {{ form.dominant_hand(size=32, class__="simple-input-box") }}
      </div>
      <div class="simple-inputs">
        <h3>{{ form.clinician_id.label }}</h3>
        {{ form.clinician_id(size=32, class__="simple-input-box") }}
      </div>

      {{ form.submit(class="simple-form-button") }}          
    </form>

  </body>

</html>
