<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Home</title>
      <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
      <a href="./adminhome.html" title="Home"><IMG style="width:5%;left:2%;top:2%;position:absolute;" SRC="{{ url_for('static', filename='images/logo.png') }}"></a>
      <h1 style="left:8%;position:absolute;">Admin Home</h1>
      <a href="/logout"><img id="logout_img" src="{{ url_for('static', filename='images/logout.png') }}" style="position: absolute;width: 40px;top: 2%;right: 5%;"></a>

    </div>

      <div class="homepage">
        <div class="short-buttons">
          <a href="/createpatient"><button class="form-button" id="short" style="float:left;margin-left:50px">Add patient</button></a>
          <a href="/createclinician"><button class="form-button" id="short" style="float:right; margin-right:50px;">Add clinician</button></a>
        </div>

      </div>

    </body>

</html>
