<!doctype html>
<html>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <head>
        <link rel="stylesheet" href="../static/css/style.css">
        <title>Patient Progress</title>
    </head>
    <body>
      
        <h1 id="performance_title">BBT Performance</h1>

        <br>
        <h2 id="left_title">{{ hand }} hand performance</h2>
        <canvas id="leftChart" style="position:absolute;width: 600px; max-width: 1000px;left: 5%;"></canvas>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <script>
        var xValues = {{ X_vals | tojson }};
        var yValues = {{ timestamps | tojson }};
        
        new Chart("leftChart", {
          type: "line",
          
          data: {
            
            labels: xValues,
            datasets: [{
              label: 'Timestamp',
              fill: false,
              lineTension: 0,
              data: yValues,
              backgroundColor: "#64C195",
              borderColor: "#64C195",
              pointBackgroundColor: "#64C195",
              pointBorderColor: "#64C195"
            }]
          },
          options: {
            legend: {display: false},
            scales: {
              yAxes: [{ticks: {min: 0, max:60, stepSize:5}}]
            }
          }
        });

        </script>
        <a href="/logout"><img id="logout_img" src="{{ url_for('static', filename='images/logout.png') }}" style="position: absolute;width: 40px;top: 2%;right: 5%;"></a>
    </body>
</html>