<!DOCTYPE html>
<html lang="en">
  <head>
    <title>View Patient</title>
    <link rel="icon" href="../static/images/logo.png">
    <link rel="stylesheet" href="../static/css/style.css">
  </head>

  <body>

    <!--top bar-->
    <div class="topnav">
        <div class="topnav-left">
            <!--back button-->
            <a href="./adminhome.html" title="Home"><img class="back" src="../static/images/back.png"></a>

            <!--page title-->
            <h1>View Patient</h1>
        </div>

        <!--right side message-->
        <div class="topnav-right">
            <!--obviously change later depending on who's signed in-->
            <h2>Currently signed in: Ross Black</h2>
            <!--log out-->
            <a href="./logout.html" title="Logout"><img class="logout" src="../static/images/logout.png"></a>
        </div>
    </div>

    <!--left side search functionality-->
    <div class="left-search">
      <!-- Search bar (MAKE DYNAMIC) -->
      <form class = "search" action="./search.php" method="POST">
        <input type="text" name ="searchTerm" class="searchTerm" placeholder="Search Patient">
        <button type="submit" class="searchButton"><img src="../static/images/search.svg"></img></button>
      </form>

      <!--table of patients-->
      <!--POPULATE WITH DATABASE & LINK WITH SEARCH FUNCTIONALITY-->
      <table class="search-table">
        <tr><td><form><input type=submit value="Patient 1" ></form></td></tr>
        <tr><td><form><input type=submit value="Patient 2" ></form></td></tr>
        <tr><td><form><input type=submit value="Patient 3" ></form></td></tr>
        <tr><td><form><input type=submit value="Patient 4" ></form></td></tr>
        <tr><td><form><input type=submit value="Patient 5" ></form></td></tr>
        <tr><td><form><input type=submit value="Patient 6" ></form></td></tr>
        <tr><td><form><input type=submit value="Patient 6" ></form></td></tr>
        <tr><td><form><input type=submit value="Patient 6" ></form></td></tr>
        <tr><td><form><input type=submit value="Patient 6" ></form></td></tr>
        <tr><td><form><input type=submit value="Patient 6" ></form></td></tr>
        <tr><td><form><input type=submit value="Patient 6" ></form></td></tr>
        <tr><td><form><input type=submit value="Patient 6" ></form></td></tr>
        <tr><td><form><input type=submit value="Patient 6" ></form></td></tr>
        <tr><td><form><input type=submit value="Patient 6" ></form></td></tr>
        <tr><td><form><input type=submit value="Patient 6" ></form></td></tr>
        <tr><td><form><input type=submit value="Patient 6" ></form></td></tr>
        <tr><td><form><input type=submit value="Patient 6" ></form></td></tr>
      </table>

    </div>

    <!--right side patient details-->
    <div class="view-patient-details">
      <h1 style="font-size:25px; margin-bottom: 0px;">Patient name 2</h1>
      <h2>Patient ID</h2>
      <table class="view-details-table">
        <tr>
            <td>Current OT:</td>
            <td>Ross Black</td>
        </tr>
        <tr>
            <td>Date of Birth:</td>
            <td>10/05/1974</td>
        </tr>
        <tr>
            <td>Sex:</td>
            <td>Male</td>
        </tr>
        <tr>
            <td>Condition:</td>
            <td>Stroke</td>
        </tr>
        <tr>
            <td>Affected hand(s):</td>
            <td>Right</td>
        </tr>
        <tr>
            <td>Dominant Hand:</td>
            <td>Right</td>
        </tr>
        <tr>
            <td>Facility:</td>
            <td>Prince of Wales Randwick</td>
        </tr>
        <tr>
            <td>Emergency Contact:</td>
            <td>0419 821 447</td>
        </tr>

      </table>


    </div>

   </body>

</html>
